.uno {
    min-height: 100vh;
    height: fit-content;
    background-image: linear-gradient(rgb(131, 180, 158), rgb(131, 180, 158));
    padding-top: 6%;
    padding-bottom: 10%;
}

.filtro {
    display: flex;
    flex-direction: column;
}
