.uno {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgb(131, 180, 158), rgb(131, 180, 158));
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
}

.contenedor {
    background-color: #fafbfc;
    height: fit-content;
    width: 40vw;
    display: flex;
    border: solid 2px #bfbfbf;
    border-radius: 20px;
    justify-content: center;
}

.contenedor {
    padding: 2% 2% 0 2%;
}

.titulo {
    margin: 3% 0 2% 0;
    font-size: 25px;
    color: #fafbfc;
}

