body {
    background-image: linear-gradient( rgba(138, 201, 254, 1), rgba(237, 245, 252, 1) );
}



/*Seccion Uno*/
.uno {
    scroll-margin-top: 56px;
    height: 55vh;
    width: 100%;
    padding-top:5vh;
}
.carousel {
    height: 50vh;
}
.carousel img{
    margin:auto;
    height:50vh;
}
/*Seccion Dos*/
.dos {
    display: flex;
    height: fit-content;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 6%;
    padding-bottom: 10%;
}

.card{
    padding:0 !important;
}

@media screen and (max-width: 768px) {
    .ocultar-div {
        display: none !important;
    }
}