.uno {
    min-height: 100vh;
    height: fit-content;
    background-image: linear-gradient( rgba(138, 201, 254, 1), rgba(237, 245, 252, 1) );
    padding-top: 6%;
    padding-bottom: 10%;
}

.imagen-btn-eliminar{
    position:absolute;
    right:5%;
    bottom:8%;
    height:25px;
}

.filtro {
    display: flex;
    flex-direction: column;
}