footer {
    display: flex;
    height: 200px;
    width: 100%;
    background-color: #252b28;
    justify-content: center;
    align-items: center;
    gap: 20%;
    font-size: calc(1em);
    color: #FBF9FA;
    padding:20px;
}

footer p{
    margin:0;
}

footer div p{
    margin-bottom:5px;
    margin-left:15px;
}

.btn {
    background-color: #4f8066 !important;
    color: #FBF9FA;
}

    .btn:hover {
        background-color: #4a946e !important;
        color: #FBF9FA;
    }

@media screen and (max-width: 991px) {
    .margin-top {
        margin-top:20px !important;
    }
}
