.uno {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgb(131, 180, 158), rgb(131, 180, 158));
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor {
    position: relative;
    background-color: #fafbfc;
    height: fit-content;
    width: 50%;
    display: flex;
    border: solid 2px #bfbfbf;
    border-radius: 10px;
    justify-content: center;
    transform: translateY(-5%);
}

.imagen-usuario {
    transform: translateY(-50%);
    padding: 5px;
    background-color: #4d6e5f;
    position: absolute;
    border-radius: 50%;
    top: 0;
}

.imagen-camara {
    padding:2px;
    background-color: #252b28;
    position: absolute;
    border-radius: 50%;
    top: 2%;
    left: 52%;
}

.contenedor .row{
    width:100%;
    padding:8% 5% 0 5%;
}
