body {
    min-height: fit-content;
    width: 100%;
    background-image: linear-gradient(rgb(131, 180, 158), rgb(131, 180, 158));
    color: #FBF9FA;
    margin-bottom: 100px;
}

.uno {
    min-height: fit-content;
    width: 100%;
    color: #FBF9FA;
    margin-bottom:100px;
}

.contenedor-descripcion {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.contenedor-caracteristicas {
    display: flex;
    justify-content: start;
    flex-direction: column;
}

.contenedor-caracteristicas ul{
    margin-top:30px;
}
.ajustar-imagen{
    padding:10px;
    margin:auto;
}
@media screen and (min-width: 768px) {
    .ajustar-imagen {
        display: flex !important;
        justify-content: flex-end !important;
    }
}

@media screen and (max-width: 768px) {
    .margen-top {
        margin-top: 50px !important;
    }
}

.estrella{
    margin-right:15px;
    height:25px;
}

.favoritos{
    margin:30px 0 0 0;
    display:flex;
    flex-direction:row;
}

.favoritos p{
    margin-top:1px;
}

